@using _66bitPractice.Data.ViewModels;
@using _66bitPractice.Data;
@model NewPlayerVM

@{
	ViewData["Title"] = "Edit Your Professional";
}

<div class="text-center">
	<h1 class="display-4">Professional</h1>
	<p>His is footballer.</p>
	<div>
		<form model ="post" asp-controller="Player" asp-action="Update" asp-route-id="@Model.PlayerId">
			@await Html.PartialAsync("_PlayerFormValuesPV", Model)
		</form>
	</div>
</div>



